{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Petition Create
{% endblock title %}

{% block content %}
<div class="columns mt-4">
  {% include 'main/includes/navbar.html' %}
    <!-- SECOND COLUMN -->
    <div class="column">
        <!-- PETITION SECTION -->
        <form action="{% url 'main:dashboard' %}" method="post">
          {% csrf_token %}
          <div class="tile is-ancestor my-3 mx-3">
              <div class="tile is-child box">
                  <h1 class="subtitle is-size-4">Start your petition and watch it grow!</h1>
                  {{petition_form.question | add_class:'textarea' | attr:'placeholder:Legalization of Marijuana?'}}
                  <button class="button my-2">Sign up for petition</button>
              </div>
          </div>
        </form>
        <!-- POSTS SECTION -->
        <!-- VIEWING OF POSTS -->
        <!-- THIRD COLUMN -->
        <!-- WILD CARD SEARCH SECTION-->

        
    
</div>
{% endblock content %}
       
